# matplotlib==3.4.2
numpy==1.19.5
pandas==1.2.4
librosa==0.8.1
soundfile==0.10.3.post1
muda==0.4.1
jams==0.3.4
scipy==1.6.1
tensorflow==2.5.0
mlflow==1.19.0
matplotlib==3.4.2
muda ==0.4.1
jam == 0.0.4